#contenedorTareas {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform-origin: top center;
}

#contenedorTareas.oculto{
    transform: translateY(-50px) scale(0.8);
    opacity: 0;
    pointer-events: none;
}

#contenedorTareas article {
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    width: 300px;          /* ancho fijo */
    padding: 1rem;
    border: 1px solid #000;
    border-radius: 6px;
    box-sizing: border-box;
    transition: transform 0.5s ease, opacity 0.5 ease;
}

h2{
    text-align: center;
}